<%= form_for(monster) do |f| %>
  <% if monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t(:MONSTER_NAME) %>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :monster_evolutions do |u| %>
    <div class="field">
      <%= u.label :species_id, t(:SPECIES_SINGULAR) %>
      <%= u.select :species_id, options_from_collection_for_select(species, :id, :translated_name) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
