<p id="notice"><%= notice %></p>

<h1>Monsters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainer.monster.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= link_to 'Show', polymorphic_path([@trainer, monster]) %></td>
        <td><%= link_to 'Edit', edit_polymorphic_path([@trainer, monster]) %></td>
        <td><%= link_to 'Destroy', polymorphic_path([@trainer, monster]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_polymorphic_path([@trainer, Monster]) %>
