<%= form_for(species_base_stat) do |f| %>
  <% if species_base_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(species_base_stat.errors.count, "error") %> prohibited this species_base_stat from being saved:</h2>

      <ul>
      <% species_base_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :monster_no %>
    <%= f.number_field :monster_no %>
  </div>

  <div class="field">
    <%= f.label :base_attack %>
    <%= f.number_field :base_attack %>
  </div>

  <div class="field">
    <%= f.label :base_defense %>
    <%= f.number_field :base_defense %>
  </div>

  <div class="field">
    <%= f.label :base_stamina %>
    <%= f.number_field :base_stamina %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
