<p id="notice"><%= notice %></p>

<h1>Go Manager</h1>

<h2><%= @trainer.name %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Species</th>
      <th>Min Total IV</th>
      <th>Max Total IV</th>
      <th>Min Attack IV</th>
      <th>Max Attack IV</th>
      <th>Min Defense IV</th>
      <th>Max Defense IV</th>
      <th>Min Stamina IV</th>
      <th>Max Stamina IV</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trainer.monster.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.current_evolution.species.species_no %></td>
        <td><%= monster.current_evolution.species.name %></td>
        <td><%= monster.monster_summary.min_total_iv %></td>
        <td><%= monster.monster_summary.min_total_iv %></td>
        <td><%= monster.monster_summary.min_attack_iv %></td>
        <td><%= monster.monster_summary.max_attack_iv %></td>
        <td><%= monster.monster_summary.min_attack_iv %></td>
        <td><%= monster.monster_summary.max_attack_iv %></td>
        <td><%= monster.monster_summary.min_defense_iv %></td>
        <td><%= monster.monster_summary.max_defense_iv %></td>
        <td><%= monster.monster_summary.min_stamina_iv %></td>
        <td><%= monster.monster_summary.max_stamina_iv %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag do %>
  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>

  <div class="field">
    <%= label_tag :species_id, "Species" %>
    <%= select_tag :species_id, options_from_collection_for_select(Species.all, :id, :name) %>
  </div>

  <div class="field">
    <%= label_tag :cp %>
    <%= number_field_tag :cp %>
  </div>

  <div class="field">
    <%= label_tag :hp %>
    <%= number_field_tag :hp %>
  </div>

  <div class="field">
    <%= label_tag :dust_to_power_up, "Stardust required to Power Up" %>
    <%= number_field_tag :dust_to_power_up %>
  </div>

  <div class="field">
    <%= label_tag :never_powered_up, "Never Powered Up?" %>
    <%= check_box_tag :never_powered_up %>
  </div>

  <div class="field">
    <%= label_tag :appraisal_overall_phrase_id, "Overall Appraisal" %>
    <%= select_tag :appraisal_overall_phrase_id, options_from_collection_for_select(AppraisalOverallPhrase.all, :id, :phrase) %>
  </div>

  <div class="field">
    <%= label_tag :attack_best, "Attack Best Stat?" %>
    <%= check_box_tag :attack_best %>
  </div>

  <div class="field">
    <%= label_tag :defense_best, "Defense Best Stat?" %>
    <%= check_box_tag :defense_best %>
  </div>

  <div class="field">
    <%= label_tag :stamina_best, "Stamina Best Stat?" %>
    <%= check_box_tag :stamina_best %>
  </div>

  <div class="field">
    <%= label_tag :appraisal_individual_phrase_id, "Stats Appraisal" %>
    <%= select_tag :appraisal_individual_phrase_id, options_from_collection_for_select(AppraisalIndividualPhrase.all, :id, :phrase) %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
