<%= form_for(team_leader) do |f| %>
  <% if team_leader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team_leader.errors.count, "error") %> prohibited this team_leader from being saved:</h2>

      <ul>
      <% team_leader.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :team %>
    <%= f.select :team, options_from_collection_for_select(Team.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
