<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team_leader.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team_leader.team.name %>
</p>

<%= link_to 'Edit', edit_team_leader_path(@team_leader) %> |
<%= link_to 'Back', team_leaders_path %>
