<p id="notice"><%= notice %></p>

<p>
  <strong>Appraisal class:</strong>
  <%= @appraisal_best_stat.appraisal_class %>
</p>

<p>
  <strong>Min stat iv:</strong>
  <%= @appraisal_best_stat.min_stat_iv %>
</p>

<p>
  <strong>Max stat iv:</strong>
  <%= @appraisal_best_stat.max_stat_iv %>
</p>

<%= link_to 'Back', appraisal_best_stats_path %>
