<%= form_for(monster_evolution) do |f| %>
  <% if monster_evolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monster_evolution.errors.count, "error") %> prohibited this monster_evolution from being saved:</h2>

      <ul>
      <% monster_evolution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :monster_id %>
    <%= f.number_field :monster_id %>
  </div>

  <div class="field">
    <%= f.label :species_id %>
    <%= f.number_field :species_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
