<p id="notice"><%= notice %></p>

<h1>Monster Evolutions</h1>

<table>
  <thead>
    <tr>
      <th>Monster</th>
      <th>Species</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monster_evolutions.each do |monster_evolution| %>
      <tr>
        <td><%= monster_evolution.monster_id %></td>
        <td><%= monster_evolution.species_id %></td>
        <td><%= link_to 'Show', monster_evolution %></td>
        <td><%= link_to 'Edit', edit_monster_evolution_path(monster_evolution) %></td>
        <td><%= link_to 'Destroy', monster_evolution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster Evolution', new_monster_evolution_path %>
