<p id="notice"><%= notice %></p>

<p>
  <strong>Monster:</strong>
  <%= @monster_evolution.monster_id %>
</p>

<p>
  <strong>Species:</strong>
  <%= @monster_evolution.species_id %>
</p>

<%= link_to 'Edit', edit_monster_evolution_path(@monster_evolution) %> |
<%= link_to 'Back', monster_evolutions_path %>
