<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @levels_datum.level %>
</p>

<p>
  <strong>Cp multiplier:</strong>
  <%= @levels_datum.cp_multiplier %>
</p>

<p>
  <strong>Stardust to power up:</strong>
  <%= @levels_datum.stardust_to_power_up %>
</p>

<p>
  <strong>Candy to power up:</strong>
  <%= @levels_datum.candy_to_power_up %>
</p>

<%= link_to 'Edit', edit_levels_datum_path(@levels_datum) %> |
<%= link_to 'Back', levels_data_path %>
