<%= form_for(monster_summary) do |f| %>
  <% if monster_summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monster_summary.errors.count, "error") %> prohibited this monster_summary from being saved:</h2>

      <ul>
      <% monster_summary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :min_attack_iv %>
    <%= f.number_field :min_attack_iv %>
  </div>

  <div class="field">
    <%= f.label :max_attack_iv %>
    <%= f.number_field :max_attack_iv %>
  </div>

  <div class="field">
    <%= f.label :min_defense_iv %>
    <%= f.number_field :min_defense_iv %>
  </div>

  <div class="field">
    <%= f.label :max_attack_iv %>
    <%= f.number_field :max_attack_iv %>
  </div>

  <div class="field">
    <%= f.label :min_stamina_iv %>
    <%= f.number_field :min_stamina_iv %>
  </div>

  <div class="field">
    <%= f.label :max_stamina_iv %>
    <%= f.number_field :max_stamina_iv %>
  </div>

  <div class="field">
    <%= f.label :min_maxed_cp %>
    <%= f.number_field :min_maxed_cp %>
  </div>

  <div class="field">
    <%= f.label :max_maxed_cp %>
    <%= f.number_field :max_maxed_cp %>
  </div>

  <div class="field">
    <%= f.label :min_maxed_hp %>
    <%= f.number_field :min_maxed_hp %>
  </div>

  <div class="field">
    <%= f.label :max_maxed_hp %>
    <%= f.number_field :max_maxed_hp %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
