<p id="notice"><%= notice %></p>

<h1>Monster Summaries</h1>

<table>
  <thead>
    <tr>
      <th>Min attack iv</th>
      <th>Max attack iv</th>
      <th>Min defense iv</th>
      <th>Max attack iv</th>
      <th>Min stamina iv</th>
      <th>Max stamina iv</th>
      <th>Min maxed cp</th>
      <th>Max maxed cp</th>
      <th>Min maxed hp</th>
      <th>Max maxed hp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monster_summaries.each do |monster_summary| %>
      <tr>
        <td><%= monster_summary.min_attack_iv %></td>
        <td><%= monster_summary.max_attack_iv %></td>
        <td><%= monster_summary.min_defense_iv %></td>
        <td><%= monster_summary.max_attack_iv %></td>
        <td><%= monster_summary.min_stamina_iv %></td>
        <td><%= monster_summary.max_stamina_iv %></td>
        <td><%= monster_summary.min_maxed_cp %></td>
        <td><%= monster_summary.max_maxed_cp %></td>
        <td><%= monster_summary.min_maxed_hp %></td>
        <td><%= monster_summary.max_maxed_hp %></td>
        <td><%= link_to 'Show', monster_summary %></td>
        <td><%= link_to 'Edit', edit_monster_summary_path(monster_summary) %></td>
        <td><%= link_to 'Destroy', monster_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster Summary', new_monster_summary_path %>
