<p id="notice"><%= notice %></p>

<p>
  <strong>Min attack iv:</strong>
  <%= @monster_summary.min_attack_iv %>
</p>

<p>
  <strong>Max attack iv:</strong>
  <%= @monster_summary.max_attack_iv %>
</p>

<p>
  <strong>Min defense iv:</strong>
  <%= @monster_summary.min_defense_iv %>
</p>

<p>
  <strong>Max attack iv:</strong>
  <%= @monster_summary.max_attack_iv %>
</p>

<p>
  <strong>Min stamina iv:</strong>
  <%= @monster_summary.min_stamina_iv %>
</p>

<p>
  <strong>Max stamina iv:</strong>
  <%= @monster_summary.max_stamina_iv %>
</p>

<p>
  <strong>Min maxed cp:</strong>
  <%= @monster_summary.min_maxed_cp %>
</p>

<p>
  <strong>Max maxed cp:</strong>
  <%= @monster_summary.max_maxed_cp %>
</p>

<p>
  <strong>Min maxed hp:</strong>
  <%= @monster_summary.min_maxed_hp %>
</p>

<p>
  <strong>Max maxed hp:</strong>
  <%= @monster_summary.max_maxed_hp %>
</p>

<%= link_to 'Edit', edit_monster_summary_path(@monster_summary) %> |
<%= link_to 'Back', monster_summaries_path %>
