<p id="notice"><%= notice %></p>

<h1>Appraisal Individual Phrases</h1>

<table>
  <thead>
    <tr>
      <th>Team Leader</th>
      <th>Phrase</th>
      <th>Min individual iv</th>
      <th>Max individual iv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appraisal_individual_phrases.each do |appraisal_individual_phrase| %>
      <tr>
        <td><%= appraisal_individual_phrase.team_leader.name %></td>
        <td><%= appraisal_individual_phrase.phrase %></td>
        <td><%= appraisal_individual_phrase.min_individual_iv %></td>
        <td><%= appraisal_individual_phrase.max_individual_iv %></td>
        <td><%= link_to 'Show', appraisal_individual_phrase %></td>
        <td><%= link_to 'Edit', edit_appraisal_individual_phrase_path(appraisal_individual_phrase) %></td>
        <td><%= link_to 'Destroy', appraisal_individual_phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appraisal Individual Phrase', new_appraisal_individual_phrase_path %>
