<%= form_for(monster_level) do |f| %>
  <% if monster_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monster_level.errors.count, "error") %> prohibited this monster_level from being saved:</h2>

      <ul>
      <% monster_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cp %>
    <%= f.number_field :cp %>
  </div>

  <div class="field">
    <%= f.label :hp %>
    <%= f.number_field :hp %>
  </div>

  <div class="field">
    <%= f.label :dust_to_power_up %>
    <%= f.number_field :dust_to_power_up %>
  </div>

  <div class="field">
    <%= f.label :never_powered_up %>
    <%= f.check_box :never_powered_up %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
