<p id="notice"><%= notice %></p>

<h1>Monster Levels</h1>

<table>
  <thead>
    <tr>
      <th>Cp</th>
      <th>Hp</th>
      <th>Dust to power up</th>
      <th>Never powered up</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monster_levels.each do |monster_level| %>
      <tr>
        <td><%= monster_level.cp %></td>
        <td><%= monster_level.hp %></td>
        <td><%= monster_level.dust_to_power_up %></td>
        <td><%= monster_level.never_powered_up %></td>
        <td><%= link_to 'Show', monster_level %></td>
        <td><%= link_to 'Edit', edit_monster_level_path(monster_level) %></td>
        <td><%= link_to 'Destroy', monster_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster Level', new_monster_level_path %>
