<p id="notice"><%= notice %></p>

<p>
  <strong>Cp:</strong>
  <%= @monster_level.cp %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @monster_level.hp %>
</p>

<p>
  <strong>Dust to power up:</strong>
  <%= @monster_level.dust_to_power_up %>
</p>

<p>
  <strong>Never powered up:</strong>
  <%= @monster_level.never_powered_up %>
</p>

<%= link_to 'Edit', edit_monster_level_path(@monster_level) %> |
<%= link_to 'Back', monster_levels_path %>
