<p id="notice"><%= notice %></p>

<h1>Appraisal Overall Phrases</h1>

<table>
  <thead>
    <tr>
      <th>Team Leader</th>
      <th>Phrase</th>
      <th>Min total iv</th>
      <th>Max total iv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appraisal_overall_phrases.each do |appraisal_overall_phrase| %>
      <tr>
        <td><%= appraisal_overall_phrase.team_leader.name %></td>
        <td><%= appraisal_overall_phrase.phrase %></td>
        <td><%= appraisal_overall_phrase.min_total_iv %></td>
        <td><%= appraisal_overall_phrase.max_total_iv %></td>
        <td><%= link_to 'Show', appraisal_overall_phrase %></td>
        <td><%= link_to 'Edit', edit_appraisal_overall_phrase_path(appraisal_overall_phrase) %></td>
        <td><%= link_to 'Destroy', appraisal_overall_phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appraisal Overall Phrase', new_appraisal_overall_phrase_path %>
