<p id="notice"><%= notice %></p>

<p>
  <strong>Team Leader:</strong>
  <%= @appraisal_overall_phrase.team_leader.name %>
</p>

<p>
  <strong>Phrase:</strong>
  <%= @appraisal_overall_phrase.phrase %>
</p>

<p>
  <strong>Min total iv:</strong>
  <%= @appraisal_overall_phrase.min_total_iv %>
</p>

<p>
  <strong>Max total iv:</strong>
  <%= @appraisal_overall_phrase.max_total_iv %>
</p>

<%= link_to 'Edit', edit_appraisal_overall_phrase_path(@appraisal_overall_phrase) %> |
<%= link_to 'Back', appraisal_overall_phrases_path %>
