<p id="notice"><%= notice %></p>

<h1><%= t(:TEAM_LEADER_APPRAISAL_BEST_STAT_PHRASES) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:TEAM_LEADER) %></th>
      <th><%= t(:SHORT_PHRASE) %></th>
      <th><%= t(:FULL_PHRASE) %></th>
      <th><%= t(:MIN_BEST_STAT_IV) %></th>
      <th><%= t(:MAX_BEST_STAT_IV) %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_leader_appraisal_best_stat_phrases.each do |team_leader_appraisal_best_stat_phrase| %>
      <tr>
        <td><%= link_to t(team_leader_appraisal_best_stat_phrase.team_leader.name), team_leader_appraisal_best_stat_phrase.team_leader %></td>
        <td><%= short_t(team_leader_appraisal_best_stat_phrase.phrase) %></td>
        <td><%= t(team_leader_appraisal_best_stat_phrase.phrase) %></td>
        <td><%= team_leader_appraisal_best_stat_phrase.appraisal_best_stat.min_stat_iv %></td>
        <td><%= team_leader_appraisal_best_stat_phrase.appraisal_best_stat.max_stat_iv %></td>
        <td><%= link_to 'Show', team_leader_appraisal_best_stat_phrase %></td>
      </tr>
    <% end %>
  </tbody>
</table>
