<p id="notice"><%= notice %></p>

<h1>Monster Appraisals</h1>

<table>
  <thead>
    <tr>
      <th>Monster ID</th>
      <th>Monster Name</th>
      <th>Appraisal Overall</th>
      <th>Attack best</th>
      <th>Defense best</th>
      <th>Stamina best</th>
      <th>Appraisal Best Stat(s)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monster_appraisals.each do |monster_appraisal| %>
      <tr>
        <td><%= monster_appraisal.monster_id %></td>
        <td><%= monster_appraisal.monster.name %></td>
        <td><%= monster_appraisal.appraisal_overall_phrase.phrase %></td>
        <td><%= monster_appraisal.attack_best %></td>
        <td><%= monster_appraisal.defense_best %></td>
        <td><%= monster_appraisal.stamina_best %></td>
        <td><%= monster_appraisal.appraisal_individual_phrase.phrase %></td>
        <td><%= link_to 'Show', monster_appraisal %></td>
        <td><%= link_to 'Edit', edit_monster_appraisal_path(monster_appraisal) %></td>
        <td><%= link_to 'Destroy', monster_appraisal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster Appraisal', new_monster_appraisal_path %>
